

<head>
    <link rel="stylesheet" href="{{ asset('/css/main.css') }}">
    <link rel="stylesheet" href="{{ asset('/css/loginRegister.css') }}">
</head>
<div class="login">
    <div class="container">
        <div class="loginHeader">
            <img src='{{ asset('img/HouseWithGarden.png') }}'></img>
            <h4>Se connecter</h4>
        </div>
        <form method="post" class="form-group">
                <label for="inputEmail">Email :</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" placeholder="Votre mot de passe" required autofocus>
                <label for="inputPassword">Mot de Passe :</label>
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" placeholder="Votre mot de passe" required>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                {% if error %}
                    <p class="msg error">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
                {% endif %}

                <button class="btn btn-lg btn-primary" type="submit">Se connecter</button>
            </div>

            <p class="register">Nouvel utilisateur ? <a href="{{ path('app_register') }}">S'enregistrer</a></p>
        </form>
    </div>
</div>