{% extends 'base.html.twig' %}

{% block title %}Haie index{% endblock %}

{% block body %}
    <h4>Haie index</h4>

    <div class="list">
        {% for haie in haies %}
            <div class="card">
                <p><strong>Nom :</strong> {{ haie.nom }}</p>
                <p><strong>Prix :</strong> {{ haie.prix }}€</p>
                <p><strong>Type :</strong> {{ haie.categorie.libelle }}</p>
                <div class="actions">
                    <a href="{{ path('app_haie_show', {'id': haie.id}) }}" class="info">
                        <button>{{ include('icons/voir.html.twig') }}</button>
                    </a>
                    <a href="{{ path('app_haie_edit', {'id': haie.id}) }}" class="warning">
                        <button>{{ include('icons/modifier.html.twig') }}</button>
                    </a>
                    {{ include('haie/_delete_form.html.twig') }}
                </div>
            </div>
        {% else %}
            <p>Aucune Haie disponible</p>
        {% endfor %}
    </div>

    <a href="{{ path('app_haie_new') }}" class="success">
        <button>Créer une Haie</button>
    </a>
{% endblock %}